<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmitrymalkovich.android.githubanalytics">

    <!-- OAuth -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="githubanalytics" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basicauthorization.BasicAuthorizationActivity"
            android:label="@string/title_activity_login" />

        <provider
            android:name=".data.source.local.RepositoryProvider"
            android:authorities="com.dmitrymalkovich.android.githubanalytics"
            android:exported="false" />

        <activity
            android:name=".navigation.NavigationViewActivity"
            android:label="@string/title_activity_navigation_view"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>